#container-1{
    height: 75%;
    width:75%;
    margin: 0 auto;
}

input{
    height: 45px;
    width: 300px;   
    border: 1px solid black;
    font-size: 0.5cm;
    box-shadow: 10px 10px 10px rgba(82, 71, 71, 0.7);
    margin-bottom: 40px;
}

button{
    width: 45px;
    height: 45px;
    vertical-align: middle;
    border: 1px solid black;  
    box-shadow:  10px 10px 10px rgba(114, 108, 108, 0.7);
    background-color: black;
    color: white;
}

body{
    text-align: center;
    background-color: rgb(83, 155, 155);
}

body h1{
    box-shadow: 10px 10px 10px rgba(32, 31, 31, 0.7);
    background-color: rgb(17, 9, 16);
    color: white;
}

.results-style{
    cursor: pointer;
    font-size: 0.5cm;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 10px 10px 10px 10px rgba(64, 63, 70, 0.7);
   
}